body{
    background-color: blue;
    color: white;

}
.botones {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px; 
  }
  
  .botones:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
